header,
main,
footer {
    padding-left: 0;
}

#loginBtn,
#dashBtn {
    margin-top: 44px;
}

#profile_pic {
    margin-top: 1.52rem;
    width: 90%;
}

.name {
    font-weight: 600;
}

.user_name {
    font-weight: 100;
}

.bio {
    font-weight: 100;
}

.web {
    font-weight: 500;
}

.count {
    display: inline;
    margin-right: 1%;
}

.post_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.square {
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
