header, main, footer {
    padding-left: 0;
}

#loginBtn,#dashBtn {
    margin-top: 44px;
}

.name {
    font-weight: 600;
}
.user_name {
    font-weight: 100;
}

.bio {
    font-weight: 100;
}

.web {
    font-weight: 500;
}

.count{
    display: inline;
    margin-left: 1%;
}
