body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.square {
    box-sizing: border-box;
    border: 5px solid #00000000;
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}