/*
@media only screen and (max-width: 720px) {
    .header {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 450px) {
    h5.header {
        font-size: 1em;
    }
}
*/

.progress {
    height: 20px;
    border: 2px solid #000;
}
