@import url(//fonts.googleapis.com/css?family=Acme);

.cost {
    font-size: 300%;
    font-family: 'Acme', sans-serif;
}

@media only screen and (max-width: 600px) {
.costTitle {
    font-size: 100%;
}
}
@media only screen and (min-width: 600px) {
.costTitle {
    font-size: 150%;
}
}

.costTitle {

    font-family: 'Acme', sans-serif;
}

.per {
    padding: 0px;
    font-family: 'Acme', sans-serif;
}

.middle-indicator {
    position: absolute;
    top: 0%;
}

.carousel-slider {
    max-height: 12.500em;
    min-height: 12.500em;
}

#back {
    top: 3.750em;
    background-color: transparent;
}

#next {
    top: 3.750em;
}

#error {
    color: red;
}