@import url(//fonts.googleapis.com/css?family=Acme);

.cost {
    font-size: 300%;
    font-family: 'Acme', sans-serif;
}

.costTitle {
    font-size: 150%;
    font-family: 'Acme', sans-serif;
}

.per {
    font-family: 'Acme', sans-serif;
}

.middle-indicator {
    position: absolute;
    top: 0%;
}

.carousel-slider {
    max-height: 12.500em;
    min-height: 12.500em;
}

#back {
    top: 3.750em;
    background-color: transparent;
}

#next {
    top: 3.750em;
}

#error {
    color: red;
}
