<div id="section06" class="px-5 my-5 section">
  <div class="row">
    <div class="col-12 text-start mb-2">
      <h1 class="section-text">Get In Touch</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-12 animation-duration-1000" pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout" *ngFor="let item of aboutme.contact">
      <div class="row justify-content-center">
        <div class="col-4 text-center align-self-center">
          <i
            class="bi bi-{{ item.icon }}"
            style="color: #dedeea; font-size: 2.5rem"
          ></i>
        </div>
        <div class="col-8">
          <h6>{{ item.title }}</h6>
          <a class="link-color" *ngIf="item.href" href="{{ item.href }}"
            ><h5>{{ item.value }}</h5></a
          >
          <h5 *ngIf="!item.href">{{ item.value }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-6 col-12 animation-duration-1000" pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.5955974089784!2d73.11785829417005!3d18.99345921001696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7e83e1f23f23d%3A0xe3a106c431e3fd0a!2sPanvel%2C%20Navi%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1678268318982!5m2!1sen!2sin"
        style="border: 0"
        width="100%"
        height="100%"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="col-md-6 col-12 mt-4">
      <form
        class="row g-3"
        action="mailto:jsuyog2@gmail.com"
        method="post"
        enctype="text/plain"
      >
        <div class="col-12">
          <input
            id="form_name"
            type="text"
            name="name"
            class="form-control animation-duration-1000" pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeout"
            placeholder="Full Name"
            required="required"
            data-error="Name is required."
          />
        </div>
        <div class="col-12">
          <input
            id="form_email"
            type="email"
            name="email"
            class="form-control animation-duration-1000" pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeout"
            placeholder="Email Address"
            required="required"
            data-error="Valid email is required."
          />
        </div>
        <div class="col-12">
          <input
            id="form_subject"
            type="text"
            name="subject"
            class="form-control animation-duration-1000" pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeout"
            placeholder="Subject"
            required="required"
            data-error="Subject is required."
          />
        </div>
        <div class="col-12">
          <textarea
            id="form_message"
            name="message"
            class="form-control animation-duration-1000" pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeout"
            placeholder="Message"
            rows="7"
            required="required"
            data-error="Please, leave me a message."
            spellcheck="false"
          ></textarea>
        </div>
        <div class="col-12">
          <input type="submit" class="btn btn-custom animation-duration-1000" pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeout" value="Send message" />
        </div>
      </form>
    </div>
  </div>
</div>
