<div id="section05" class="px-5 my-5 section">
    <div class="row">
      <div class="col-12 text-start mb-2">
        <h1 class="section-text">Achievements</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item animation-duration-1000" pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeout" *ngFor="let item of achievements">
            {{ item }}
          </li>
        </ul>
      </div>
    </div>
  </div>