<div id="section00" class="center-screen section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img
          class="rounded-circle profile"
          src="../../../assets/images/profile.jpg"
        />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <h1>Suyog Jadhav</h1>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <h6>
          I'm a <span class="headerTitle load">{{ title }}</span>
        </h6>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <a class="link" target="_blank" href="https://github.com/jsuyog2"
          ><i class="bi bi-github"></i
        ></a>
        <a
          class="link ms-2"
          target="_blank"
          href="https://www.linkedin.com/in/suyogjadhav20"
          ><i class="bi bi-linkedin"></i
        ></a>
        <a class="link ms-2" target="_blank" href="https://twitter.com/jsuyog2"
          ><i class="bi bi-twitter"></i
        ></a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <a class="btn btn-custom" (click)="scroll('section06')">Hire Me</a>
      </div>
    </div>
    <a class="scroll" (click)="scroll('section01')"><span></span>Scroll</a>
  </div>
</div>
