<div id="section03" class="px-5 my-5 section">
  <div class="row">
    <div class="col-12 text-start mb-2">
      <h1 class="section-text">Projects</h1>
    </div>
  </div>
  <div class="row">

    <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="true"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-item pTemplate="item">
        <div class="card p-2 m-2 animation-duration-1000" pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout">
          <div class="card-header">{{ item.duration }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text hide-value">{{ item.description[0] }}</p>
            <a class="link-color" (click)="open(content, item.id)">
              Show More
            </a>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-6" style="font-weight: 700">
                <a class="link-color" target="_blank" href="{{ item.Link }}"
                  *ngIf="validURL(item.Link); else notLink">Visit</a>
                <ng-template #notLink>
                  {{ item.Link }}
                </ng-template>
              </div>
              <div class="col-6 text-end">
                <p class="hide-value icon">
                  <img class="mx-1" data-bs-toggle="tooltip" title="{{ values.title }}" alt="{{ values.title }}" src="https://img.icons8.com/{{ values.fill }}/24/null/{{
                    values.icon
                  }}.png" *ngFor="let values of item.tech" />
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>

    <!--  <div class="mb-3 col-md-6 col-12" *ngFor="let item of projects; let i = index" style="min-height: 100%">
      <div class="card p-2">
        <div class="card-header">{{ item.duration }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.description[0] }}..</p>
          <a class="link-color" (click)="open(content, i)">
            Show More
          </a>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6" style="font-weight: 700">
              <a class="link-color" target="_blank" href="{{ item.Link }}"
                *ngIf="validURL(item.Link); else notLink">Visit</a>
              <ng-template #notLink>
                {{ item.Link }}
              </ng-template>
            </div>
            <div class="col-6 text-end">
              <p class="hide-value icon">
                <img class="mx-1" data-bs-toggle="tooltip" title="{{ values.title }}" alt="{{ values.title }}" src="https://img.icons8.com/{{ values.fill }}/24/null/{{
                    values.icon
                  }}.png" *ngFor="let values of item.tech" />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="projectModalLabel">
      {{ projects[projectId].title }}
    </h1>
    <a class="btn-close" (click)="modal.close()"></a>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <ul>
        <li><b>Duration:</b> {{ projects[projectId].duration }}</li>
        <li>
          <b>Description:</b>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let item of projects[projectId].description">{{item}}</li>
          </ul>
        </li>
        <li *ngIf="projects[projectId].responsibility">
          <b>Responsibility:</b>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let item of projects[projectId].responsibility">{{item}}</li>
          </ul>
        </li>
        <li>
          <b>Technologies:</b>
          <div class="row mt-2">
            <ul class="list-group list-group-horizontal">
              <li class="p-3 text-center" *ngFor="let tech of projects[projectId].tech">
                <img class="mx-1" data-bs-toggle="tooltip" title="{{ tech.title }}" alt="{{ tech.title }}" src="https://img.icons8.com/{{ tech.fill }}/32/null/{{
                  tech.icon
                }}.png" />
                <p style="font-size: 0.8rem">{{ tech.title }}</p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Close
    </button>
  </div>
</ng-template>